<!DOCTYPE html>
<html lang="en">

<head>
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <title>Login</title>
</head>

<body>
    <nav>
        <div class="nav-left">
            <h1>Login</h1>
        </div>
        <div class="nav-right">
            <ul>
                <li><a href="Register_page.html">Register</a></li>
                <li><a href="Login.html">Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="content">
        <div class="login">
            <form id="loginForm">


                <h1 class="register">Login</h1>
                <input type="text" id="username" placeholder="Username">
                <input type="password" id="password" placeholder="Password">
                <button type="button" onclick="login()">Login</button>
            </form>
        </div>
    </div>

    <footer>
        <div class="footer">
            <p>&copy; 2025 &nbsp; &nbsp; All rights reserved</p>
        </div>
    </footer>

    <script src="script.js"></script>
</body>

</html>